{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react-hooks/recommended"
  ],
  "rules": {
      "prettier/prettier": ["error", {
          "endOfLine":"auto"
      }],
      "react-hooks/exhaustive-deps": 0,
      "@typescript-eslint/no-explicit-any": 0,
      "no-unsafe-optional-chaining": 0,
      "@typescript-eslint/no-non-null-assertion": 0
  }
}
