.wrapper {
  padding: 67px 64px 67px 64px;
}

.backBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.035em;
  color: #100C1A;
  margin-bottom: 22px;
}

.backBtn p,
.backBtn svg {
  cursor: pointer;
}

.shareBtnContainer {
  width: 100%;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
}

.btnBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--small_indent);
}

.btn {
  padding: var(--ssmall_indent) var(--small_indent) !important;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.035em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bs {
  border-radius: 7px;
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.25);
}

.px {
  width: 7.7rem;
}

.btnText {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.035em;
}

.text {
  margin-left: 5px;
}

.plus {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.035em;
  height: 15px;
  display: flex;
  align-items: center;
  margin-right: var(--smallest_indent);
}

.createBlock {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.btnContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sortContainer {
  display: flex;
  flex-direction: row;
}

.sort,
.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.filter {
  margin-left: 25px;
}

.textSort {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.035em;
  margin-left: 9px;
  color: var(--payo_black);
}

.arrow {
  transform: rotateZ(90deg);
  margin-left: var(--ssmall_indent);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.moreBtn {
  width: 34px;
  height: 33px;
  cursor: pointer;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.archived {
  margin-left: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.archivedTitle {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.035em;
  color: #100C1A;
}

.eArrow {
  position: absolute;
  right: -7rem;
  top: -3rem;
}

.emptyShowcase {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 26.8rem;
  top: 10rem;
}

.emptyTitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.035em;
  color: #CACACC;
}

@media screen and (max-width: 1600px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 50px 64px 0 64px;
  }

  .cardContainer {
    gap: 14px;
  }

  .emptyTitle {
    font-size: 24px;
    line-height: 36px;
  }

  .head {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 890px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .wrapper {
    padding: 50px 32px 0 32px;
  }
}

@media screen and (max-width: 840px) {
  .head {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .emptyTitle {
    font-size: 24px;
    line-height: 36px;
  }

  .head {
    margin-bottom: 10px;
    align-items: flex-start;
  }

  .emptyShowcase {
    right: 15rem;
    top: 14rem;
  }

  .archivedTitle {
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.035em;
    color: #2C2936;
    font-size: 16px;
  }

  .title {
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: var(--black_payo);
    margin: 0;
  }

  .wrapper {
    padding: 12px 20px 100px 20px;
  }

  .cardContainer {
    gap: 14px;
    justify-content: center;
    padding: 0;
  }

  .shareBtnContainer {
    max-width: 170px;
    width: 100%;
  }

  .eArrow {
    right: -5rem;
    top: -3rem;
  }

  .btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 138.52%;
    letter-spacing: 0.035em;
    color: #F9F6FF;
  }

  .bs {
    width: 155px;
    height: 55px;
    background: #413068;
    border-radius: 15px;
  }

  .sort {
    border: 2px solid #413068;
    border-radius: 10px;
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textSort {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.035em;
    color: var(--black_payo);
    margin: 0;
  }

  .filter {
    border: 2px solid #413068;
    border-radius: 10px;
    width: 86px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  .btnBlock {
    gap: 43px;
  }

  .groupTitle {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #100C1A;
  }

  .px {
    width: 170px;
  }

  .backBtn {
    margin-bottom: 15px;
  }

  .sortContainer {
    margin-bottom: 30px;
    gap: 10px;
    align-items: flex-start;
  }

  .moreBtn {
    width: auto;
    height: auto;
  }

  .archived {
    gap: 8px;
    margin-left: 0;
  }

  .filtersContainer {
    display: flex;
    flex-direction: row;
  }

  .mobileArrow {
    margin-top: 15px;
  }

  .archived {
    gap: 8px;
    margin-left: 18px;
  }

  .archivedTitle {
    font-size: 16px;
  }

  .head {
    align-items: end;
  }

  .btnBlock {
    width: 100%;
    justify-content: space-between;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
}

@media screen and (max-width: 500px) {
  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
